<template>
  <div class="pluralo-app">
    <div class="row hso-topbar">
      <div class="col">
        <h1 class="hso-page-title">{{ pageSubTitle }}</h1>
      </div>
      <div class="col-md-3">
        <input class="form-control" type="text" v-model="searchQry" placeholder="Search"/>
      </div>
    </div>
    <div>
      <ul class="list-group hso-events">
        <span class="hso-events--not-found" v-if="filteredEvents.length === 0">Sadly no event was found <i class="far fa-meh"></i></span>
        <li v-for='event in filteredEvents' :key='event.id' class="hso-events--item list-group-item" :class="percentOfEvntsAvail(event.capacity, event.booked)">
          <div class="row col-expand">
            <div class="row gx-0">
              <div class="col">
                <!-- <h1> {{ percentOfEvntsAvail(event.capacity, event.booked) }} </h1> -->
                <!-- <h1> {{ 100 *  (event.capacity - event.booked) / event.capacity}} </h1> -->
                <h2 class="hso-events--title">{{event.name}}</h2>
                <span class="hso-events--event-start">
                  {{ event.eventStart | moment("DD.MM.YYYY") }}
                  from 
                  {{ event.eventStart | moment("H:mm") }} to {{ event.eventEnd | moment("H:mm") }} 
                  ({{ evDuration(event.eventEnd, event.eventStart) }})
                  <!-- 10.03.2021 from 14:00 to 18:30 (4h) -->
                  <!-- 2021-05-07T10:00:00+01:00 -->
                </span>
              </div>
              <div class="hso-events--availability col-3 row gx-0">
                <div class="col">
                  <span>Availability</span><br>
                  <span>{{event.capacity - event.booked }}/{{event.capacity}}</span>
                </div>
                <button class="btn btn-secondary col" @click="EventVisibility === event.id ? EventVisibility = false : EventVisibility = event.id">
                  {{ EventVisibility === event.id ? "Close" : "Open" }}
                </button>
              </div>
            </div>
            <div v-if='EventVisibility === event.id' class="row g-0" style="padding-top:20px;">
              <div class="col-md col-sm-expand" v-if="!event.edit" v-on:click="$set(event, 'edit', !event.edit)">{{ event.description }}</div>
              <div v-if="event.edit">
                <textarea id="edit-event-desc" name="edit-event-desc" rows="4" cols="60" v-model="event.description" ></textarea>
              </div>
              <div class="col-md col-sm-expand d-grid gap-2 d-md-flex justify-content-md-end align-items-end">
                <button @click="editMode(event)" v-on:click="$set(event, 'edit', !event.edit)" v-if ="!event.edit" type="button" class="btn btn-lg btn-primary"> <span><i class="far fa-edit"></i> </span> Edit</button>
                <button @click="saveData(event.id)" v-on:click="$set(event, 'edit', !event.edit)" v-if ="event.edit" type="button" class="btn btn-lg btn-success"> <span><i class="far fa-save"></i> </span> Save</button>
                <button @click="cancelEdit(event)" v-on:click="$set(event, 'edit', !event.edit)" v-if ="event.edit" type="button" class="btn btn-lg btn-secondary"> <span><i class="far fa-meh"></i> </span> Cancel</button>
                <button @click="deleteData(event.id)" type="button" class="btn btn-lg btn-danger"><i class="far fa-trash-alt"></i> Delete</button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>

import moment from 'moment';

export default {
  name: 'Events',
  data () {
    return {
      EventVisibility: false,
      pageSubTitle: 'Next Events ',
      searchQry: null,
      evtsNotFoundInQry: false
    }
  },
  methods: {
    // calculate the avail percentage
    percentOfEvntsAvail(capacity, booked) {
      let availability = 100 * (capacity - booked) / capacity; // explain: 100% x (total de lugares - lugares reservados) / total de lugares
      let availColor = ()=> {
        if(availability >= 21 && availability <= 90 ) {
          return 'hso-orange'
        }
        if(availability >= 91) {
          return 'hso-red'
        }
        return 'hso-green'
      }
      return availColor()
    },
    evDuration(endDate, startDate) {
      let evEnd = moment(endDate);
      let evStart = moment(startDate);
      let dif = evEnd.diff(evStart);
      let duration = moment.utc(dif).format("H[h]mm");
      return duration;
      /**
       * some issues here:
       * I am not considering if a particular event duration took days, just hours at the same day => to improve later
       */
    },
    editMode(event) {
      // on edit Mode => save a cache of the previous Object in case of Canceling
      this.someObject = Object.assign({}, this.someObject, event);
    },
    cancelEdit(event) {
      // On canceling, replace the changes with the cached Object
      event.description = this.someObject.description;
    },
    saveData(evID) {
      let eventID = evID;
      let allEvts = this.$store.state.events.events;
      let thisEvt = allEvts.find( event => event.id === eventID )

      let newEvDesc = document.getElementById('edit-event-desc').value;
      thisEvt.description = newEvDesc;
      let editedEventObject = thisEvt;
      // console.log(editedEventObject);

      this.$store.dispatch("updateEvent", editedEventObject);

    },
    deleteData(evID)  {
      // this.events.splice(index, 1);
      let eventID = evID;
      let allEvts = this.$store.state.events.events;
      let thisEvt = allEvts.find( event => event.id === eventID )

      // console.log(thisEvt);
      let selectedEventObject = thisEvt;

      this.events.splice(this.events.indexOf(thisEvt), 1);

      this.$store.dispatch("deleteEvent", selectedEventObject);
    }
  },
  computed: {
    events() {
      // console.log(this.$store.state.events.events);
      return this.$store.state.events.events
    },
    filteredEvents(){
      if(this.searchQry){
        let evtsToQuery = this.$store.state.events.events.filter( (event) => {
          return this.searchQry.toLowerCase().split(' ').every(
              val => event.name.toLowerCase().includes(val) || event.description.toLowerCase().includes(val) 
            )
        });
        
        return evtsToQuery;

      }
      return this.$store.state.events.events;
    }
  },
  watch: {
    'filteredEvents': (events)=> {
      // console.log(events);
      if (events.length === 0) {
        console.log("Sadly no result was found");
      }
    }
  },
  mounted() {
    this.$store.dispatch("getEventList");
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

  $color-primary: #4B536B;
  $color-secondary: #979797;
  $font-size-title: 20pt; //14px;
  $font-weight-title: 500; //medium;
  $font-weight-regular: 400;
  $font-size-body: 14pt;
  $font-size-small: 10pt;
  $font-family-body: 'Roboto', sans-serif;
  $btn-success: #6AC951;
  $btn-secondary: #F1F1F8;
  $btn-danger: #F16C64;
  $btn-primary: #00A9F0;
  $btn-alpha: 0.35;
  $evts-avail-thickness: 13px;

  .hso-topbar {margin: 30px 0;}
  .pluralo-app, span, small, b, strong, label {font-family: $font-family-body;}
  .hso-events--title, .hso-page-title {
    color: $color-primary;
    font-size: $font-size-title;
    font-weight: $font-weight-title;
  }
  .hso-events {
    padding-left: $evts-avail-thickness;
    border-radius: 0;
    &--item{
      background: #f9f9f9;
      border: 0;
      border-bottom: 1px solid #eee;
      border-left: $evts-avail-thickness solid #6AC951;
      border-radius: 0;
      &.hso-orange {
        border-left-color: #FFC764 !important;
      }
      &.hso-red {
        border-left-color: #FF5533 !important;
      }
    }
    &--event-start {
      color: $color-secondary;
      font-size: $font-size-small;
      font-weight: $font-weight-regular;
    }
    &--not-found {
      text-align: center;
      font-size: 2rem;
      margin-top: 10vh;
      color: $color-secondary;
    }

    .btn {
      &-success {
        background: $btn-success;
        border-color: rgba(#4A526A, $btn-alpha);
        &:hover { background: darken($btn-success, 8%); }
      }
      &-secondary {
        background: $btn-secondary;
        border-color: #D3D7DB;
        color: $color-primary;
        &:hover { background: darken($btn-secondary, 5%); }
      }
      &-danger {
        background: $btn-danger;
        border-color: rgba(#4A526A, $btn-alpha);
        &:hover { background: darken($btn-danger, 10%); }
      }
      &-primary {
        background: $btn-primary;
        border-color: rgba(#4B536B, $btn-alpha + 0.05); 
        &:hover { background: darken($btn-primary, 5%); }
      }
    }
  }

</style>
