<template>
  <div class="home">
    <Events />
  </div>
</template>

<script>
// @ is an alias to /src
import Events from '@/components/events/Events.vue'

export default {
  name: 'Home',
  components: {
    Events
  }
}
</script>
